// Greys
$void: #141b22;

// Purple
$titan-white: #f1eeff;
$cold-purple: #a69fd6;
$indigo: #6558d3;

.torrent-card {
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
	max-width: 500px;
}

.information {
	background-color: #fff;
	position: relative;
	width: 500px;

	.title-header {
		display: flex;
		flex-direction: column;

		.title {
			font-size: 22px;
			color: $void;
			line-height: 1.25;
			word-wrap: anywhere;
			text-align: center;
			margin-top: auto;
			margin-bottom: auto;
			flex-grow: 1;
			padding-top: 15px;
		}

		.poster {
			height: 150px;
			width: 100%;
			border-radius: 10px 10px 0 0;
			overflow: hidden;
			mask-image: linear-gradient(0, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%);

			img {
				width: 100%;
				transform: translateY(-10%);
			}
		}
	}

	.files-container {
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		position: relative;

		.file {
			color: $void;
			word-wrap: anywhere;
			padding: 15px;
			padding-bottom: 0;

			&:after {
				content: "";
				background: $titan-white;
				position: absolute;
				left: 35px;
				height: 1px;
				width: 80%;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.information {
		.title {
			font-size: 22px;
		}

		.files-container {
			.file {
				.file-header {
					font-size: 15px;
				}
			}
		}
	}
}
