$titan-white: #f1eeff;

.d-flex {
	padding: 32px !important;
	padding-bottom: 0 !important;
}

.menu {
	padding-bottom: 15px;
}

.ygg-torrent-info {
	padding-top: 15px;
}

.form-select {
	max-width: 300px;
}

select {
	height: 48px;
}

option {
	text-align: center;
}

.sec-center {
	position: relative;
	margin-left: 40px;

	.dropdown:checked + label, .dropdown:not(:checked) + label {
		position: relative;
		height: 50px;
		transition: all 200ms linear;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		-ms-flex-pack: center;
		cursor: pointer;
		box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
	}

	.dropdown:checked + label:before, .dropdown:not(:checked) + label:before {
		position: fixed;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		z-index: -1;
		cursor: auto;
		pointer-events: none;
	}

	.dropdown:checked + label:before {
		pointer-events: auto;
	}

	.dropdown:not(:checked) + label .uil {
		font-size: 24px;
		margin-left: 10px;
		transition: transform 200ms linear;
	}

	.dropdown:checked + label .uil {
		transform: rotate(180deg);
		font-size: 24px;
		margin-left: 10px;
		transition: transform 200ms linear;
	}

	.section-dropdown {
		position: absolute;
		padding: 10px;
		top: 60px;
		left: -86px;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
		opacity: 0;
		cursor: pointer;
		transform: translateY(20px);
		transition: all 200ms linear;
		width: 150px;
		line-height: 40px;
		user-select: none;

		div {
			padding: 5px;
			padding-right: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.active {
			background-color: $titan-white;
			border-radius: 6px;
		}

		img {
			height: 18px;
		}

		.sort-icon {
			transform: scaleY(-1);
		}
	}

	.dropdown:checked ~ .section-dropdown {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0);
	}

	.section-dropdown:before {
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		content: '';
		display: block;
		z-index: 1;
	}

	.dark-light:checked ~ .sec-center .section-dropdown:after {
		border-bottom: 8px solid #fff;
	}

	[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
		position: absolute;
		left: -9999px;
		opacity: 0;
		pointer-events: none;
	}
}


//.section-dropdown:after {
//	position: absolute;
//	top: -7px;
//	left: 30px;
//	width: 0;
//	height: 0;
//	border-left: 8px solid transparent;
//	border-right: 8px solid transparent;
//	border-bottom: 8px solid #111;
//	content: '';
//	display: block;
//	z-index: 2;
//	transition: all 200ms linear;
//}
