.d-flex {
	padding: 32px !important;
	padding-bottom: 0 !important;
}

.menu {
	padding-bottom: 15px;
}

.ygg-torrent-info {
	padding-top: 15px;
}

.form-select {
	max-width: 300px;
}

select {
	height: 48px;
}

option {
	text-align: center;
}
