.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
	margin: 5vh auto;
}

.filters {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;

	.select-filter {
		width: 300px;
	}
}

@media screen and (max-width: 600px) {
	.filters {
		justify-content: center;

		.select-filter {
			width: 100%;
		}
	}
}
