@import '~bootstrap/scss/bootstrap';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	margin: 0;
	background: white;
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.link {
	display: block;
	text-align: center;
	color: #777;
	text-decoration: none;
	padding: 10px;
}

.container-main {


	height: auto;
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
	border-radius: 10px;
	transition: all 0.4s;
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;

	&:hover {
		backface-visibility: hidden;
		-webkit-font-smoothing: subpixel-antialiased;
		transform: perspective(1px) scale(1.03);
		box-shadow: 0 0 80px -25px rgba(0, 0, 0, 0.5);
		transition: all 0.4s;
	}

	.movie_card {

		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 0 120px -25px rgba(0, 0, 0, 0.5);

		position: relative;
		display: block;

		.info_section {
			position: relative;
			width: 100%;
			height: 100%;
			background-blend-mode: multiply;
			z-index: 2;
			border-radius: 10px;

			.movie_header {
				min-height: 270px;
				position: relative;
				padding-top: 25px;
				padding-left: 25px;
				height: auto;

				h1 {
					color: black;
					font-weight: 400;
				}

				h4 {
					color: #555;
					font-weight: 400;
				}

				.minutes {
					display: inline-block;
					margin-top: 15px;
					padding: 5px;
					border-radius: 5px;
					border: thin solid rgba(0, 0, 0, 0.05);
				}

				.type {
					display: inline;
					margin-left: 10px;
				}

				.locandina {
					position: relative;
					float: left;
					margin-right: 20px;
					height: 250px;
					box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
				}
			}

			.movie_desc {
				padding-top: 20px;
				padding-bottom: 25px;
				padding-left: 25px;
				height: 40%;

				.text {
					color: #545454;
				}
			}

			.movie_social {
				height: 10%;
				padding-left: 15px;
				padding-bottom: 20px;

				ul {
					list-style: none;
					padding: 0;

					li {
						display: inline-block;
						color: rgba(0, 0, 0, 0.3);
						transition: color 0.3s;
						transition-delay: 0.15s;
						margin: 0 15px;

						&:hover {
							transition: color 0.3s;
							color: rgba(0, 0, 0, 0.7);
						}

						i {
							font-size: 19px;
							cursor: pointer;
						}
					}
				}
			}
		}

		.blur_back {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			right: 0;
			background-size: cover;
			border-radius: 11px;

			.bright_back {
				float: right;
				margin-left: auto;
				display: block;
				//background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
			}
		}
	}

	@media screen and (min-width: 1042px) {
		.movie_header {
			width: 65%;
		}

		.movie_desc {
			width: 50%;
		}

		.info_section {
			background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
		}

		.blur_back {
			background-position: -100% 10% !important;
		}

		.bright_back img {
			height: 100%;
		}

		.minutes {
			color: #555;
		}

		.type {
			color: #959595;
		}

		#delete-button img {
			right: -15px;
		}
	}

	#delete-button {
		position: relative;
		z-index: 1000;
	}

	#delete-button img {
		position: absolute;
		top: -25px;
	}

	@media screen and (max-width: 1042px) {
		.movie_card {
			//width: 95%;
			//margin: 70px auto;
			min-height: 350px;
			height: auto;
		}

		.blur_back {
			width: 100%;
			background-position: 50% 50% !important;
		}

		.bright_back img {
			width: 100%;
		}

		.movie_header {
			width: 100%;
			margin-top: 85px;
		}

		.movie_desc {
			width: 100%;
			padding-right: 25px;
		}

		.info_section {
			background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
			display: inline-grid;
		}

		.minutes {
			color: #444;
		}

		.type {
			color: #444;
		}

		#delete-button img {
			right: -20px;
		}
	}
}

.progress, progress[value] {
	width: auto;
	border: none;
	height: 14px;
	display: block;
	appearance: none;
	-webkit-appearance: none;
	border-radius: 0;

	&::-webkit-progress-bar {
		background-color: lighten($primary, 35%);
	}

	&::-webkit-progress-value {
		background-color: $primary;
	}
}

.progress-materializecss {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: lighten($primary, 35%);
	border-radius: 2px;
	overflow: hidden;

	.indeterminate {
		background-color: $primary;

		&:before {
			content: '';
			position: absolute;
			background-color: inherit;
			top: 0;
			left: 0;
			bottom: 0;
			will-change: left, right;
			animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
		}

		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			top: 0;
			left: 0;
			bottom: 0;
			will-change: left, right;
			animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			animation-delay: 1.15s;
		}
	}
}

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}

@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}
