@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.torrent-container {
	height: auto;
	margin-top: 60px;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 10px;
	transition: all 0.4s;
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;

	&:hover {
		backface-visibility: hidden;
		-webkit-font-smoothing: subpixel-antialiased;
		transform: perspective(1px) scale(1.01);
		box-shadow: 0 0 80px -25px rgba(0, 0, 0, 0.5);
		transition: all 0.4s;
	}

	.movie_card {
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 0 120px -25px rgba(0, 0, 0, 0.5);
		position: relative;
		display: block;

		.info_section {
			position: relative;
			width: 100%;
			height: 100%;
			background-blend-mode: multiply;
			z-index: 2;
			border-radius: 10px;

			.movie_header {
				min-height: 270px;
				position: relative;
				padding-top: 25px;
				padding-left: 25px;
				height: auto;

				h1 {
					color: black;
					font-weight: 400;
				}

				h4 {
					color: #555;
					font-weight: 400;
				}

				.minutes {
					display: inline-block;
					margin-top: 15px;
					padding: 5px;
					border-radius: 5px;
					border: thin solid rgba(0, 0, 0, 0.05);
				}

				.type {
					display: inline;
					margin-left: 10px;
				}

				.locandina {
					position: relative;
					float: left;
					margin-right: 20px;
					height: 250px;
					width: 168px;
					box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
				}
			}

			.movie_desc {
				padding-top: 20px;
				padding-bottom: 25px;
				padding-left: 25px;
				height: 40%;

				.text {
					color: #545454;
				}
			}

			.movie_social {
				height: 10%;
				padding-bottom: 20px;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				flex-wrap: wrap;
				gap: 30px;
				padding-left: 25px;

				img {
					height: 40px;
				}
			}
		}

		.blur_back {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			right: 0;
			background-size: cover;
			border-radius: 11px;

			.bright_back {
				float: right;
				margin-left: auto;
				display: block;
			}
		}
	}

	#delete-button {
		position: relative;
		z-index: 1000;
	}

	#delete-button img {
		position: absolute;
		top: -25px;
	}

	@media screen and (min-width: 1042px) {
		.movie_header {
			width: 65%;
		}

		.movie_desc {
			width: 50%;
		}

		.info_section {
			background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
		}

		.blur_back {
			background-position: -100% 10% !important;
		}

		.bright_back img {
			height: 100%;
		}

		.minutes {
			color: #555;
		}

		.type {
			color: #959595;
		}

		#delete-button img {
			right: -15px;
		}
	}

	@media screen and (max-width: 1042px) {
		.movie_card {
			min-height: 350px;
			height: auto;
		}

		.blur_back {
			width: 100%;
			background-position: 50% 50% !important;
		}

		.bright_back img {
			width: 100%;
		}

		.movie_header {
			width: 100%;
			margin-top: 85px;
		}

		.movie_desc {
			width: 100%;
			padding-right: 25px;
		}

		.info_section {
			background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
			display: inline-grid;
		}

		.minutes {
			color: #444;
		}

		.type {
			color: #444;
		}

		#delete-button img {
			right: -20px;
		}
	}
}

@media screen and (max-width: 500px) {
	.locandina {
		float: unset !important;
	}

	.movie_header {
		h1 {
			padding-top: 15px;
		}
	}

	.torrent-container {
		.movie_card {
			.info_section {
				.movie_desc {
					.text {
						overflow: hidden;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 5;
						display: -webkit-box;
					}
				}

				.movie_social {
					gap: 0;
					padding-right: 25px;
					justify-content: space-between;

					img {
						height: 35px;
					}
				}
			}
		}
	}
}
