<!--<div class="container" *ngIf="torrent.movie?.radarrInformation?.movieFile?.mediaInfo">-->
<!--	<div class="interior">-->
<!--		<a class="btn" href="{{ getCurrenUrlWithoutAnchor() }}#open-modal" target="_self">Modal</a>-->
<!--	</div>-->
<!--</div>-->

<!--<app-torrent-metadata-modal-->
<!--	[metaData]="torrent.movie?.radarrInformation?.movieFile?.mediaInfo"-->
<!--&gt;</app-torrent-metadata-modal>-->

<div id="delete-button">
	<img src="assets/cancel.svg" height="50" class="ribbon clickable-image" (click)="onDeleteTorrent(torrent)" alt=""/>
</div>

<div #movieCard class="movie_card">
	<div class="info_section">
		<div class="movie_header">
			<img *ngIf="!torrent.movie?.poster_path" class="locandina" src="assets/missing-poster.svg" width="170" alt="">
			<img *ngIf="torrent.movie?.poster_path" class="locandina" src="{{ torrent.movie?.poster_path }}" alt="">

			<h1>{{ cleaningDataService.cleanTorrentName(torrent.name) }}</h1>

			<h4 *ngIf="torrent.category === apiType.SONARR && (torrent.season || torrent.episode)">
				{{ cleaningDataService.getSeasonAndEpisodeFromTorrent(torrent) }}
			</h4>

			<span class="minutes">
				{{ cleaningDataService.getSizeToDisplay(torrent.size) }}
			</span>

			<p class="type">
				Ajouté le {{ torrent.added_on * 1000 | date: 'dd-MM-yy à HH:mm' }}
			</p>
		</div>

		<div class="movie_desc">
			<p class="text">
				<!--				{{ torrent.movie?.overview | truncate:[150] }}-->
				{{ torrent.movie?.overview }}
			</p>
		</div>

		<div class="movie_social">
			<ul>
				<li *ngIf="torrent.category === apiType.RADARR">
					<a [href]=torrent.movie?.radarrInformation?.fileLink target="_blank">
						<img src="assets/RADARR.svg" height="50" alt=""/>
					</a>
				</li>

				<li *ngIf="torrent.category === apiType.SONARR">
					<a [href]=torrent.movie?.sonarrInformation?.fileLink target="_blank">
						<img src="assets/SONARR.svg" height="50" alt=""/>
					</a>
				</li>

				<li><img [src]="displayState(torrent.state)" height="50" [title]="torrent.state" alt=""/></li>

				<li *ngIf="torrent?.movie?.link">
					<a [href]=torrent.movie?.link target="_blank">
						<img src="assets/tmdb.svg" width="100" alt=""/>
					</a>
				</li>
			</ul>
		</div>

		<div class="progress-container" *ngIf="torrent.state === torrentState.DOWNLOADING">
			<progress class="progress" max="100" [value]="cleaningDataService.getProgressToDisplay(torrent.progress)">
			</progress>
		</div>

	</div>

	<div class="blur_back bright_back">
		<img *ngIf="torrent.movie?.backdrop_path"
				 src="{{ torrent.movie?.backdrop_path }}"
				 alt="">
	</div>
</div>
