<div class="torrent-container">

	<!--	Delete Button-->
	<div id="delete-button">
		<img src="assets/cancel.svg" height="50" class="ribbon clickable-image" (click)="onDeleteTorrent(torrent)" alt=""/>
	</div>

	<div #movieCard class="movie_card">
		<div class="info_section">

			<div class="movie_header">
				<!--				Poster-->
				<img *ngIf="!torrent.movie?.poster_path" class="locandina" src="assets/missing-poster.svg" width="170" alt="">
				<img *ngIf="torrent.movie?.poster_path" class="locandina" src="{{ torrent.movie?.poster_path }}" alt="">

				<!--				Media Name-->
				<h1>{{ cleaningDataService.cleanTorrentName(torrent.name, !!torrent.movie) }}</h1>

				<!--				Season + Episode-->
				<h4 *ngIf="torrent.category === apiType.SONARR && (torrent.season || torrent.episode)">
					{{ cleaningDataService.getSeasonAndEpisodeFromTorrent(torrent) }}
				</h4>

				<!--				Size-->
				<span class="minutes">
					{{ cleaningDataService.getSizeToDisplay(torrent.size) }}
				</span>

				<!--				Added on -->
				<p class="type">
					Ajouté le {{ torrent.added_on * 1000 | date: 'dd-MM-yy à HH:mm' }}
				</p>
			</div>

			<div class="movie_desc">
				<p class="text">
					{{ torrent.movie?.overview }}
				</p>
			</div>

			<div class="movie_social">
				<ul>
					<li *ngIf="torrent.category === apiType.RADARR">
						<a *ngIf="torrent.movie?.radarrInformation?.fileLink" [href]=torrent.movie?.radarrInformation?.fileLink
							 target="_blank">
							<img src="assets/RADARR.svg" height="50" alt=""/>
						</a>

						<img *ngIf="!torrent.movie?.radarrInformation?.fileLink" src="assets/RADARR.svg" height="50" alt=""/>

					</li>

					<li *ngIf="torrent.category === apiType.SONARR">
						<a *ngIf="torrent.movie?.sonarrInformation?.fileLink" [href]=torrent.movie?.sonarrInformation?.fileLink
							 target="_blank">
							<img src="assets/SONARR.svg" height="50" alt=""/>
						</a>

						<img *ngIf="!torrent.movie?.sonarrInformation?.fileLink" src="assets/SONARR.svg" height="50" alt=""/>
					</li>

					<li><img [src]="displayState(torrent.state)" height="50" [title]="torrent.state" alt=""/></li>

					<li *ngIf="torrent?.movie?.link">
						<a [href]=torrent.movie?.link target="_blank">
							<img src="assets/tmdb.svg" width="100" alt=""/>
						</a>
					</li>

					<li (click)="isMetaDataModalOpen = !isMetaDataModalOpen">
						<a [href]="getModalLink()" target="_self" data-bs-toggle="modal">
							<img src="assets/metadata.svg" width="50" alt=""/>
						</a>
					</li>
				</ul>
			</div>

			<!--		Progress bar-->
			<app-progress-bar
				[torrent]="torrent"
			></app-progress-bar>

		</div>

		<!--Background poster-->
		<div class="blur_back bright_back">
			<img *ngIf="torrent.movie?.backdrop_path"
					 src="{{ torrent.movie?.backdrop_path }}"
					 alt="">

			<img *ngIf="!torrent.movie?.backdrop_path"
					 src="assets/missing-poster.svg"
					 alt="">
		</div>
	</div>
</div>

<app-torrent-metadata-modal
	[isOpen]="isMetaDataModalOpen"
	[originalName]="torrent.originalName"
	[metaData]="torrent.movie?.radarrInformation?.movieFile?.mediaInfo!"
	[modalName]="'modal_' + torrent.hash">
</app-torrent-metadata-modal>
