<table class="table">
  <thead class="bg-primary text-white">
  <tr>
    <th>Nom</th>
    <th>Taille</th>
    <th>Utilisé</th>
    <th>Utilisation</th>
    <th>Libre</th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let fileSystem of fileSystems">

    <td>{{ fileSystem.volume }}</td>
    <td>{{ fileSystem.size }}</td>
    <td>{{ fileSystem.used }}</td>
    <td>{{ fileSystem.percentageUsed }}</td>
    <td>{{ fileSystem.available }}</td>

  </tr>
  </tbody>
</table>


<app-horizontal-chart
  [chartData]='chartData'
  [chartMetaInfo]='metaInfo'
></app-horizontal-chart>

<br>

<app-chart
  [chartData]='chartData'
  [chartMetaInfo]='metaInfo'
></app-chart>
