<div class="container">
	<div class="justify-content-center">
		<div class="menu bg-white rounded shadow">

			<div class="ygg-torrent-info">
				<app-ygg-torrent-info></app-ygg-torrent-info>
			</div>

			<div class="d-flex justify-content-between">
				<div class="input-group border rounded-pill p-1">
					<input type="search" placeholder="Rechercher un torrent..." (keyup.enter)="this.search()"
								 class="form-control bg-none border-0" [(ngModel)]="this.searchText">
					<div class="input-group-append border-0">
						<button type="button" class="btn btn-link text-success" (click)="this.search()">
							<img src="assets/search.svg" height="20px" alt="">
						</button>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-between">
				<select class="form-select rounded-pill filter-element" [(ngModel)]="filterMediaType">
					<option selected [ngValue]="mediaType.Unknown">Type</option>
					<option [ngValue]="mediaType.Movie">Film</option>
					<option [ngValue]="mediaType.Serie">Série</option>
					<option [ngValue]="mediaType.Anime">Animé</option>
				</select>

				<div class="sec-center">
					<input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
					<label class="for-dropdown" for="dropdown">
						<img src="assets/sort.svg" height="32px">
						<!--					<img class="uil" src="assets/sort.svg" height="32px">-->
					</label>

					<div class="section-dropdown">
						<div (click)="sortTorrents('age')" [class.active]="sortByProperty === 'age'">
							Age
							<img src="assets/down.svg" *ngIf="sortByProperty === 'age'" [class.sort-icon]="!sortOrder">
						</div>
						<div (click)="sortTorrents('size')" [class.active]="sortByProperty === 'size'">
							Taille
							<img src="assets/down.svg" *ngIf="sortByProperty === 'size'" [class.sort-icon]="!sortOrder">
						</div>
						<div (click)="sortTorrents('downloaded')" [class.active]="sortByProperty === 'downloaded'">
							Téléchargés
							<img src="assets/down.svg" *ngIf="sortByProperty === 'downloaded'" [class.sort-icon]="!sortOrder">
						</div>
						<div (click)="sortTorrents('seeders')" [class.active]="sortByProperty === 'seeders'">
							Seeds
							<img src="assets/down.svg" *ngIf="sortByProperty === 'seeders'" [class.sort-icon]="!sortOrder">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="cards">
	<article *ngFor="let torrent of this.yggTorrentSearch" [hidden]="!canDisplayTorrent(torrent)"
					 class="information [ torrent-card ]">
		<div class="tags">
			<span class="tag">{{ getMediaType(torrent) }}</span>
			<span class="tag">{{ mediaQuality(torrent) }}</span>
		</div>

		<h2 class="title">
			<a [href]=torrent.pageUrl target="_blank">{{ torrent.name }}</a>
		</h2>

		<div class="content-container">
			<dl class="details">
				<div>
					<dt>Age</dt>
					<dd>{{ torrent.age | dateAgo }}</dd>
				</div>
				<div>
					<dt>Taille</dt>
					<dd>{{ torrent.size | formatFileSize }}</dd>
				</div>
				<div>
					<dt>Téléchargé</dt>
					<dd>{{ torrent.downloaded }}</dd>
				</div>
				<div>
					<dt>Seeders</dt>
					<dd>{{ torrent.seeders }}</dd>
				</div>
			</dl>

			<div class="actions">
				<div><a [href]=torrent.torrentUrl target="_blank"><img src="assets/download.svg" height="100%"></a></div>
				<div><a [href]=torrent.pageUrl target="_blank"><img src="assets/goto.svg" height="100%"></a></div>
			</div>
		</div>
	</article>
</div>
