.d-flex {
	padding: 32px !important;
	padding-bottom: 0 !important;
}

.menu {
	padding-bottom: 15px;
}

.ygg-torrent-info {
	padding-top: 15px;
}

.form-select {
	max-width: 300px;
}

select {
	height: 48px;
}

option {
	text-align: center;
}

// Basic
$white: #fff;
$black: #000;

// Greys
$ash: #eaeef6;
$charcoal: #a0a0a0;
$void: #141b22;

// Beige/Browns
$fair-pink: #FFEDEC;
$apricot: #FBC8BE;
$coffee: #754D42;
$del-rio: #917072;

// Green
$java: #1FCAC5;

// Purple
$titan-white: #f1eeff;
$cold-purple: #a69fd6;
$indigo: #6558d3;
$governor: #4133B7;

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
	margin: 5vh auto;
}

.torrent-card {
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
	max-width: 400px;
	border: 1px solid #e0e0e0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
}

.information {
	background-color: $white;
	padding: 48px;
	padding-top: 0;

	.tags {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		padding-bottom: 10px;
	}

	.tag {
		display: inline-block;
		background-color: $titan-white;
		color: $indigo;
		font-weight: 600;
		font-size: 14px;
		padding: 0.5em 0.75em;
		line-height: 1;
		border-radius: 6px;
		width: fit-content;

		& + * {
			margin-top: 16px;
		}
	}

	.title {
		font-size: 22px;
		color: $void;
		line-height: 1.25;
		word-wrap: anywhere;

		a {
			text-decoration: unset;
			color: $void;
		}

		& + * {
			margin-top: 16px;
		}
	}

	.info {
		color: $charcoal;

		& + * {
			margin-top: 20px;
		}
	}

	.details {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px;

		div {
			padding: .75em 1em;
			background-color: $titan-white;
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			gap: .125em;
			flex-basis: 45%;
		}

		dt {
			font-size: 14px;
			color: $cold-purple;
		}

		dd {
			color: $indigo;
			font-weight: 600;
			font-size: 20px;
		}
	}
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 20px;
	height: 32px;
	margin-top: 10px;

	div {
		cursor: pointer;
	}
}

@media screen and (max-width: 500px) {
	.information {
		.title {
			font-size: 24px;
		}
	}
}

.sec-center {
	position: relative;
	width: 150px;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;

	.dropdown:checked + label, .dropdown:not(:checked) + label {
		position: relative;
		height: 50px;
		transition: all 200ms linear;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		-ms-flex-pack: center;
		cursor: pointer;
		box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
	}

	.dropdown:checked + label:before, .dropdown:not(:checked) + label:before {
		position: fixed;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		z-index: -1;
		cursor: auto;
		pointer-events: none;
	}

	.dropdown:checked + label:before {
		pointer-events: auto;
	}

	.dropdown:not(:checked) + label .uil {
		font-size: 24px;
		margin-left: 10px;
		transition: transform 200ms linear;
	}

	.dropdown:checked + label .uil {
		transform: rotate(180deg);
		font-size: 24px;
		margin-left: 10px;
		transition: transform 200ms linear;
	}

	.section-dropdown {
		position: absolute;
		padding: 10px;
		top: 60px;
		left: 0;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
		opacity: 0;
		cursor: pointer;
		transform: translateY(20px);
		transition: all 200ms linear;
		width: 150px;
		line-height: 40px;
		user-select: none;

		div {
			padding: 5px;
			padding-right: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.active {
			background-color: $titan-white;
			border-radius: 6px;
		}

		img {
			height: 18px;
			//padding-left: 10px;
		}

		.sort-icon {
			transform: scaleY(-1);
		}
	}

	.dropdown:checked ~ .section-dropdown {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0);
	}

	.section-dropdown:before {
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		content: '';
		display: block;
		z-index: 1;
	}

	.dark-light:checked ~ .sec-center .section-dropdown:after {
		border-bottom: 8px solid #fff;
	}

	[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
		position: absolute;
		left: -9999px;
		opacity: 0;
		pointer-events: none;
	}
}


//.section-dropdown:after {
//	position: absolute;
//	top: -7px;
//	left: 30px;
//	width: 0;
//	height: 0;
//	border-left: 8px solid transparent;
//	border-right: 8px solid transparent;
//	border-bottom: 8px solid #111;
//	content: '';
//	display: block;
//	z-index: 2;
//	transition: all 200ms linear;
//}
