<div *ngIf="canDisplayMedias" class="media-container">
	<div class="media-card" *ngFor="let media of playingMedias; trackBy: trackById">
		<div class="header">
			<div class="title-header">
				<div class="title">{{ media.title }}</div>
				<div class="year">{{ media.year }} - {{ media.userName }}</div>

				<div class="times">
					<span class="current-time">{{ media.progress | millisToTime }}</span>
					<span class="total-time">{{ media.duration | millisToTime }}</span>
				</div>
			</div>

			<div class="poster">
				<img [src]="media.image">
			</div>
		</div>

		<app-progress-bar [height]="5" [value]="getProgress(media)"></app-progress-bar>
	</div>
</div>

<div *ngIf="!canDisplayMedias" class="no-media">
	<img src="assets/no-recording.svg" height="164px">
	<div>Il n'y a aucun média en cours de lecture</div>
</div>
