<button class="btn btn-success btn-lg" (click)="onAddApi()">
	<img class="add-img" src="assets/add-min.svg" height="16px" alt="">
	Add
</button>

<div class="theme-table">
	<table class="table table-responsive table-hover">
		<thead>
		<tr>
			<th>Logo</th>
			<th>Nom</th>
			<th>Editer</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let api of apis">
			<td><img [src]='api.image' class="api-logo" alt=""></td>
			<td class="my-auto api-name">{{ api.name }}</td>
			<td>
				<button type="button" class="btn btn-primary my-auto edit-btn" (click)="onApiSelected(api)">
					<img src="assets/edit.svg" height="32px" alt="">
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
