// Greys
$void: #141b22;

// Purple
$titan-white: #f1eeff;
$cold-purple: #a69fd6;
$indigo: #6558d3;

.filters {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	margin: auto;
	padding: 15px;
	background-color: white;
	box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
	border-radius: 16px;

	.form-select {
		max-width: 300px;
		height: 48px;
		border-radius: 50px;

		option {
			text-align: center;
		}
	}
}

@media screen and (max-width: 500px) {
	.filters {
		width: 90vw;
	}
}



.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
	margin: 5vh auto;

	.torrent-card {
		border-radius: 16px;
		box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
		max-width: 400px;
	}

	.information {
		background-color: #fff;
		padding: 20px;

		.title-header {
			display: flex;
			justify-content: space-between;
			gap: 10px;

			.title {
				font-size: 22px;
				color: $void;
				line-height: 1.25;
				word-wrap: anywhere;
				width: 100%;
				text-align: center;
			}

			img {
				border-radius: 10px;
				width: 50%;
			}
		}

		.files-container {
			display: flex;
			flex-direction: column;
			margin-top: 15px;
			border: 1px solid $titan-white;
			border-radius: 8px;
			position: relative;

			.file {
				color: $void;
				word-wrap: anywhere;
				padding: 15px;
				padding-bottom: 0;

				&:after {
					content: "";
					background: $titan-white;
					position: absolute;
					left: 35px;
					height: 2px;
					width: 80%;
				}

				&:last-child:after {
					display: none;
				}

				.file-header {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					gap: 10px;

					.delete {
						height: 32px;
						cursor: pointer;
					}
				}

				.details {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					gap: 15px;
					padding-top: 20px;

					div {
						padding: .75em 1em;
						background-color: $titan-white;
						border-radius: 8px;
						display: flex;
						flex-direction: column-reverse;
						gap: .125em;
						flex-basis: 45%;
					}

					dt {
						font-size: 14px;
						color: $cold-purple;
					}

					dd {
						color: $indigo;
						font-weight: 600;
						font-size: 20px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 500px) {
		.information {
			.title {
				font-size: 24px;
			}
		}
	}
}
