// Greys
$void: #141b22;

// Purple
$titan-white: #f1eeff;
$cold-purple: #a69fd6;
$indigo: #6558d3;

.playing-medias {
	display: flex;
	border-radius: 16px;
	margin: auto;
	margin-bottom: 30px;
	padding-left: 5%;
	padding-right: 5%;
}

.sub-menu {
	width: 100%;
	display: block;
	padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
	.playing-medias {
		width: 90vw;
	}
}
