<div class="sub-menu">
	<div class="centered-sub-menu">
		<app-horizontal-buttons [buttons]="buttons"
														(onButtonClicked)="subMenuSelected($event)">
		</app-horizontal-buttons>

		<div>
			<img class="history" *ngIf="currentSubMenu === subMenus.Current" class="history" src="assets/history.svg" height="42px">
		</div>
	</div>
</div>

<ng-container *ngIf="currentSubMenu === subMenus.Current">
	<app-playing-medias
		class="playing-medias"
		(hasAnyMedia$)="setPlayingMediaVisibility($event)">
	</app-playing-medias>
</ng-container>

<ng-container *ngIf="currentSubMenu === subMenus.Duplicates">
	<div class="filters">
		<select class="form-select rounded-pill" [(ngModel)]="filterLibrary" (ngModelChange)="selectLibrary()">
			<option selected [ngValue]="null">Librairie</option>
			<option *ngFor="let plexLibrary of plexLibraries; trackBy: trackById"
							[ngValue]="plexLibrary">{{ plexLibrary.title }}</option>
		</select>

		<app-sort-menu [elements]="sortMenuElements" [sortOrder]="sortOrder" [sortProperty]="sortProperty"
									 (onElementSelected)="sort($event)"></app-sort-menu>
	</div>

	<div class="cards">
		<app-plex-duplicate-item
			*ngFor="let duplicate of this.plexDuplicates; trackBy: trackById"
			[plexDuplicate]="duplicate"
			(onDelete)="deleteMedia()">
		</app-plex-duplicate-item>
	</div>
</ng-container>
