<div #item class="media-card">
	<div class="header">
		<div class="title-header">
			<div class="title">{{ playingMedia.title }}</div>
			<div class="year">{{ playingMedia.year }} - {{ playingMedia.userName }}</div>

			<div class="times">
				<span class="current-time">{{ playingMedia.progress | millisToTime }}</span>
				<span class="total-time">{{ playingMedia.duration | millisToTime }}</span>
			</div>
		</div>

		<div class="poster">
			<img [src]="playingMedia.image">
		</div>
	</div>

	<app-progress-bar [height]="5" [value]="getProgress(playingMedia)"></app-progress-bar>
</div>
