<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Europium</title>
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Taille</th>
    <th>Utilisé</th>
    <th>Utilisation</th>
    <th>Libre</th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let fileSystem of fileSystems">

    <td>
      {{ fileSystem.volume }}
    </td>

    <td>
      {{ fileSystem.size }}
    </td>

    <td>
      {{ fileSystem.used }}
    </td>

    <td>
      {{ fileSystem.percentageUsed }}
    </td>

    <td>
      {{ fileSystem.available }}
    </td>

  </tr>
  </tbody>
</table>


<app-chart-ngx-lib></app-chart-ngx-lib>
<app-chart [chartData]='cricketersInfo' [chartMetaInfo] = 'metaInfo'></app-chart>

</body>
</html>


