<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Europium</title>
</head>
<body>

<div class="main-container">
  <header class="header">

  </header>
  <div class="content-container">

    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./" routerLinkActive="active">Home</a>
      <a clrVerticalNavLink routerLink="./volume-list" routerLinkActive="active">Volume list</a>
      <a clrVerticalNavLink routerLink="./files-list" routerLinkActive="active">Files list</a>
      <a clrVerticalNavLink routerLink="./api" routerLinkActive="active">APIs</a>
      <div class="nav-divider"></div>
    </clr-vertical-nav>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

</body>
</html>
