<article class="information [ torrent-card ]">

	<div class="title-header" >
		<h2 class="title">
			{{ plexDuplicate.title }}
		</h2>

		<div class="poster">
			<img [src]="plexDuplicate.image">
		</div>
	</div>

	<div class="files-container">
		<div class="file" *ngFor="let media of plexDuplicate.plexMedias; trackBy: trackById">

			<div class="file-header">
				{{ media.filePath }}
				<div class="delete"><img (click)="deleteMedia(plexDuplicate, media)" src="assets/delete.svg" height="100%"></div>
			</div>

			<app-multiple-data-card [data]="getMediaDataTags(media)"></app-multiple-data-card>
		</div>

	</div>
</article>
