<article #item class="information [ torrent-card ]">

	{{ zoom }} - {{ screenWidth }} - {{duplicateChild?.nativeElement?.offsetWidth}}
	<app-media-poster-header [image]="plexDuplicate.image" [title]="plexDuplicate.title"></app-media-poster-header>

	<div class="files-container">
		<div class="file" *ngFor="let media of plexDuplicate.plexMedias; trackBy: trackById">

			<div class="file-header">
				{{ media.filePath }}
				<div class="delete"><img (click)="deleteMedia(plexDuplicate, media)" src="assets/delete.svg" height="100%"></div>
			</div>

			<app-multiple-data-card [data]="getMediaDataTags(media)"></app-multiple-data-card>
		</div>

	</div>
</article>
