<li class="list-group-item">

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between w-100" (click)="navigateToApiLink()" style="cursor: pointer">
      <div class="p-2"><img [src]='image' height="96"></div>
      <div class="p-2 fs-1 my-auto">{{ monitoredApi.name }}</div>
      <div class="p-2">
        <img *ngIf="getApiState()" src="assets/check.svg" height="96">
        <img *ngIf="getApiState() === false" src="assets/cancel.svg" height="96">
        <div *ngIf="getApiState() === null" class="spinner-border text-primary" style="width: 96px;height: 96px;" role="status">
          <span class="visually-hidden">Loading</span>
        </div>
      </div>
    </div>

    <p class="ms-3 my-auto">
      <img aria-controls="collapseExample" src="assets/down.svg" height="64"
           [@smoothCollapse]='state' (click)="rotate()" [attr.aria-expanded]="!isCollapsed" />
    </p>
  </div>

  <div id="collapseExample" [(ngbCollapse)]="isCollapsed">
    <div class="card card-body" style="margin-top: 0;">
      <div class="list-group">
        <a href="#" class="list-group-item" *ngFor="let apiUrl of monitoredApi.apiUrls">
          <div class="d-flex justify-content-between w-100">
            <div class="p-2 fs-4 my-auto">
              <a href="{{ apiUrl.url }}" target="_blank">{{ apiUrl.url }}</a>
            </div>

            <div class="p-2">
              <img *ngIf="apiUrl.state" src="assets/check.svg" height="64">
              <img *ngIf="apiUrl.state === false" src="assets/cancel.svg" height="64">
              <div *ngIf="apiUrl.state === null" class="spinner-border text-primary"  style="width: 64px;height: 64px;" role="status">
                <span class="visually-hidden">Loading</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</li>
