.api-container {
	position: relative;
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.125);
	width: 100%;
	border-radius: 15px;
	background: white;
}

.header {
	display: flex;
	justify-content: space-between;

	.header-api-info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 8px;

		.api-title {
			font-size: 32px;
			margin-top: auto;
			margin-bottom: auto;
		}

		.grouped {
			display: flex;
			gap: 20px;
		}
	}

	.dropdown-button {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 16px;
	}
}

.urls-container {
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	border: 0;
	flex: 1 1 auto;
	padding: 16px;
	border-radius: 15px;

	.url-item {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 16px 16px;
		text-decoration: none;
		border: 1px solid rgba(0, 0, 0, 0.125);

		&:first-child {
			border-bottom-width: 0;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}

		&:last-child {
			border-top-width: 0;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
	}
}

.api-status {
	height: 64px;
	width: 64px;
}

.api-link {
	font-size: 24px;
	overflow-wrap: anywhere;

	&:hover {
		background-color: #F5F5F5;
	}
}

@media screen and (max-width: 600px) {
	.api-status {
		height: 64px;
		width: 64px;
	}

	.api-link {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	.api-status {
		height: 48px;
		width: 48px;
	}

	.header {
		.header-api-info {
			.api-title {
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.api-status {
		height: 36px;
		width: 36px;
	}

	.header {
		.header-api-info {
			.api-title {
				font-size: 22px;
			}

			.grouped {
				gap: 10px;
			}
		}

		.dropdown-button {
			margin-left: 8px;
		}
	}
}
