.api-status {
	height: 64px;
	width: 64px;
}

.status-icons {
	display: flex;
	gap: 20px;
}

.fs-4 {
	overflow-wrap: anywhere;
}

.api-link:hover {
	background-color: #F5F5F5;
}

.card > .list-group:last-child {
	border-bottom-width: 0;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.card > .list-group:first-child {
	border-top-width: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media screen and (max-width: 600px) {
	.api-status {
		height: 64px;
		width: 64px;
	}
}

@media screen and (max-width: 500px) {
	.api-status {
		height: 48px;
		width: 48px;
	}
}

@media screen and (max-width: 400px) {
	.api-status {
		height: 36px;
		width: 36px;
	}
}
