:root {
	--animation-duration: 0.5s;
}

.bottom-sheet-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 998;
	display: block;
}

.bottom-sheet {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	padding: 20px;
	padding-top: 15px;
	text-align: center;
	box-shadow: 0 -15px 40px 0 rgba(65, 51, 183, 0.25);
	border-radius: 20px 20px 0 0;
	margin: auto;
	z-index: 999;

	.close-button {
		position: absolute;
		top: 5px;
		right: 10px;
		width: fit-content;
		height: 24px;
	}

	.handler {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 10px;

		span {
			display: block;
			height: 4px;
			width: 40px;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 10px;
		}
	}

	&.show {
		animation: enter-animation var(--animation-duration) cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
	}

	&.hide {
		animation: exit-animation var(--animation-duration) cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
	}
}

@keyframes enter-animation {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes exit-animation {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}
