.row {
	margin: 0;
	align-items: center;
}

.form-control {
	background-color: transparent;
}

.form-control:focus {
	box-shadow: none;
}

.form-control-underlined {
	border-width: 0;
	border-bottom-width: 1px;
	border-radius: 0;
	padding-left: 0;
}

.d-flex {
	padding: 2rem !important;
}

.form-select {
	width: 35%;
}

select {
	height: 48px;
}

option {
	text-align: center;
}

.ygg-torrent-info {
	padding-top: 15px;
}

@media screen and (max-width: 600px) {
	.d-flex {
		display: flex;
		flex-wrap: wrap;
		padding: 1.2rem !important;
	}

	.form-select {
		width: 100%;
	}
}


