@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

table {
  overflow:hidden;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #bbb;
}

th {
  background-color: $primary;
  color: white;
  font-size: larger;
}

th, td {
  text-align: center;
  padding: 30px;
}

td {
  font-size: large;
}
