<div class="theme-table">
	<table class="table table-responsive table-hover">
		<thead>
		<tr>
			<th (click)="dynamicSort('name')">Nom</th>
			<th (click)="dynamicSort('category')">API</th>
			<th (click)="dynamicSort('state')">Etat</th>
			<th (click)="dynamicSort('added_on')">Added</th>
			<th (click)="dynamicSort('size')">Size</th>
			<th (click)="dynamicSort('progress')">Progrès</th>
			<th (click)="dynamicSort('eta')">Eta</th>
			<th (click)="dynamicSort('dlspeed')">Speed</th>
			<th>Delete</th>
		</tr>
		</thead>

		<tbody>
		<tr *ngFor="let torrent of torrents">
			<td>{{ torrent.name }}</td>
			<td>
				<img *ngIf="torrent.category === 'radarr'" src="assets/RADARR.svg" height="50"/>
				<img *ngIf="torrent.category === 'tv-sonarr'" src="assets/SONARR.svg" height="50"/>
			</td>
			<td>
				<img [src]="displayState(torrent.state)" height="50" [title]="torrent.state"/>
			</td>
			<td>{{ torrent.added_on * 1000 | date: 'dd-MM-yy HH:mm' }}</td>
			<td>{{ getSizeToDisplay(torrent.size) }}</td>
			<td>
				<div class="progress" style="height: 25px; font-size: large">
					<div class="progress-bar" role="progressbar" [ngStyle]="{'width': torrent.progress * 100 + '%'}" aria-valuemin="0" aria-valuemax="100">
						{{ getProgressToDisplay(torrent.progress) }}%
					</div>
				</div>
			</td>
			<td>{{ convertEta(torrent.eta) }}</td>
			<td>{{ convertSpeed(torrent.dlspeed) }}</td>
			<td><img src="assets/cancel.svg" height="50" class="clickable-image" (click)="deleteTorrent(torrent)"></td>
		</tr>
		</tbody>
	</table>
</div>
