<div class="theme-table">
	<table class="table table-responsive table-hover">
		<thead class="bg-primary text-white">
		<tr>
			<th>Nom</th>
			<th>Taille</th>
			<th>Occupé</th>
			<th>%</th>
			<th>Libre</th>
		</tr>
		</thead>

		<tbody>
		<tr *ngFor="let fileSystem of fileSystems">

			<td>{{ fileSystem.volume }}</td>
			<td>{{ fileSystem.size | formatFileSize }}</td>
			<td>{{ fileSystem.used | formatFileSize }}</td>
			<td>{{ fileSystem.percentageUsed }}</td>
			<td>{{ fileSystem.available | formatFileSize }}</td>

		</tr>
		</tbody>
	</table>
</div>

<!--<app-horizontal-chart-->
<!--	[chartData]='chartData'-->
<!--	[chartConfig]='chartConfig'-->
<!--&gt;</app-horizontal-chart>-->

<!--<br>-->

<!--<app-chart-->
<!--  [chartData]='chartData'-->
<!--  [chartConfig]='chartConfig'-->
<!--&gt;</app-chart>-->
