<clr-datagrid>
  <clr-dg-column [clrDgField]="'path'">Nom</clr-dg-column>
  <clr-dg-column [clrDgField]="'sizeToDisplay'">Taille</clr-dg-column>

  <clr-dg-row *clrDgItems="let file of files">
    <clr-dg-cell>{{ file.path }}</clr-dg-cell>
    <clr-dg-cell>{{ file.sizeToDisplay }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Films par page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} sur {{pagination.totalItems}} films
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


<app-horizontal-chart
  [chartData]='chartData'
  [chartConfig]='chartConfig'
></app-horizontal-chart>
