<div class="card">
  <div class="card-body">

    <form class="row g-3">

      <div class="form-switch col-2 my-auto d-flex justify-content-center">
        <input class="form-check-input switch" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="isFile" (click)="toggleIsFileValue()">
        <label class="form-check-label" for="flexSwitchCheckChecked">{{ fileOrFolderText }}</label>
      </div>

      <div class="col-6">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label mt-3">Nombre de résultats</label>
          <div class="col-sm-10">
            <input clrInput placeholder="Nombre de résultats" [(ngModel)]="resultNumber" name="resultNumber" />
          </div>
        </div>
      </div>

      <div class="col-4 my-auto mx-auto">
        <select
          class="form-select"
          aria-label="Sélectionner un volume"
          name="selectVolume"
          [(ngModel)]="selectedVolume"
        >
          <option
            *ngFor="let fileSystem of fileSystems" [ngValue]="fileSystem.volume">{{ storageService.getCleanVolumeName(fileSystem.volume) }}
          </option>
        </select>
      </div>

      <div class="col-12">
        <div class="d-flex flex-row-reverse bd-highlight">
          <button type="button" class="btn btn-primary" (click)="sendFilter()">Envoyer</button>
        </div>
      </div>

    </form>

  </div>
</div>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'path'">Nom</clr-dg-column>
  <clr-dg-column [clrDgField]="'sizeToDisplay'">Taille</clr-dg-column>

  <clr-dg-row *clrDgItems="let file of files">
    <clr-dg-cell>{{ file.path }}</clr-dg-cell>
    <clr-dg-cell>{{ file.sizeToDisplay }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Films par page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} sur {{pagination.totalItems}} films
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


<app-horizontal-chart
  [chartData]='chartData'
  [chartConfig]='chartConfig'
></app-horizontal-chart>
