<div class="card">
  <div class="card-body">

    <form class="row g-3">

      <div class="form-check form-switch col-md-2">
        <input class="form-check-input switch" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="isFile" (click)="toggleIsFileValue()">
        <label class="form-check-label" for="flexSwitchCheckChecked">{{ fileOrFolderText }}</label>
      </div>

      <div class="col-10">
        <div class="row">
          <label class="col-3 col-form-label">Nombre de résultats</label>
          <div class="col-4">
            <input placeholder="Nombre de résultats" clrInput [(ngModel)]="resultNumber" name="resultNumber" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="sendFilter()">Envoyer</button>
      </div>

    </form>

  </div>
</div>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'path'">Nom</clr-dg-column>
  <clr-dg-column [clrDgField]="'sizeToDisplay'">Taille</clr-dg-column>

  <clr-dg-row *clrDgItems="let file of files">
    <clr-dg-cell>{{ file.path }}</clr-dg-cell>
    <clr-dg-cell>{{ file.sizeToDisplay }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Films par page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} sur {{pagination.totalItems}} films
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


<app-horizontal-chart
  [chartData]='chartData'
  [chartConfig]='chartConfig'
></app-horizontal-chart>
