.media-container {
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: 100%;
}

@media screen and (max-width: 500px) {
	.media-container {
		gap: 40px;
		width: 100%;
	}
}

.no-media {
	margin: auto;
	padding-top: 20px;

	img {
		margin: auto;
		display: block;
	}

	div {
		padding-top: 20px;
		font-size: 18px;
	}
}
