.filter-container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.bottom-filters {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;

		.select-filter {
			width: 35%;
		}
	}
}

@media screen and (max-width: 600px) {
	.filter-container {
		.bottom-filters {
			.select-filter {
				width: 100%;
			}
		}
	}
}
