.switch {
  transform: scale(1.6);
  margin-right: 20px;
}

.switch:hover {
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-button:focus {
  box-shadow: none;
}
