<div class="login-container">
	<div class="login-form">
		<span class="title">Connexion</span>

		<form class="form">
			<div class="input-wrapper">
				<input class="input" placeholder="Identifiant" type="text" >
				<span class="underline"></span>
			</div>

			<div class="input-wrapper">
				<input class="input" placeholder="Mot de passe" type="password" >
				<span class="underline"></span>
			</div>

			<button class="login-button">Se connecter</button>
		</form>
	</div>

	<div class="login-image">
		<app-image-loader [fitHeight]="true" [shift]="'-26%'" [image]="'assets/login.webp'"></app-image-loader>
	</div>
</div>





<!--<div class="login-container">-->
<!--	<div class="screen-1">-->

<!--		<div class="email">-->
<!--			<label for="email">Identifiant</label>-->
<!--			<div class="sec-2">-->
<!--				&lt;!&ndash;			<ion-icon name="mail-outline"></ion-icon>&ndash;&gt;-->
<!--				<input type="email" name="email" placeholder="Identifiant"/>-->
<!--			</div>-->
<!--		</div>-->

<!--		<div class="password">-->
<!--			<label for="password">Mot de passe</label>-->
<!--			<div class="sec-2">-->
<!--				&lt;!&ndash;			<ion-icon name="lock-closed-outline"></ion-icon>&ndash;&gt;-->
<!--				<input class="pas" type="password" name="password" placeholder="* * * * * * *"/>-->
<!--			</div>-->
<!--		</div>-->

<!--		<button class="login">Login</button>-->
<!--	</div>-->
<!--</div>-->
