<div class="card">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="p-2"><img src="assets/plex-icon.png" height="96"></div>
        <div class="p-2 fs-1 my-auto">Plex</div>
        <div class="p-2"><img src="assets/check.png" height="96"></div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="p-2"><img src="assets/radarr.png" height="96"></div>
        <div class="p-2 fs-1 my-auto">Radarr</div>
        <div class="p-2"><img src="assets/cancel.png" height="96"></div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div class="p-2"><img src="assets/sonarr.png" height="96"></div>
        <div class="p-2 fs-1 my-auto">Sonarr</div>
        <div class="p-2"><img src="assets/check.png" height="96"></div>
      </div>
    </li>
  </ul>
</div>
