<div class="alert alert-app-level alert-danger mb-3" role="alert" *ngIf="isAlertDisplayed">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-text h5">
        Erreur lors de la sauvegarde de {{ api.name }}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end" style="cursor: pointer">
    <img src="assets/simple-cross.svg" height="48" (click)="maskDisplayAlert()">
  </div>
</div>

<div class="card text-center">
  <div class="card-body">

<!--    API-->
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">API</h1>
        <div class="card-text">
          <div class="d-flex justify-content-evenly">

<!--            Logo-->
            <div class="p-2 border">

              <img style="cursor: pointer" [src]="logoData" height="96px" (click)="selectImage.click()" />
              <input
                type="file"
                (change)="updateImage($event)"
                style="display: none"
                #selectImage
              />
            </div>

<!--            Nom-->
            <div class="p-2 my-auto">
              <input class="form-control" type="text" placeholder="Nom" [(ngModel)]="api.name">
            </div>

<!--            Code-->
            <div class="p-2 my-auto">
              <input class="form-control" type="text" placeholder="Code" [(ngModel)]="api.code">
            </div>

          </div>
        </div>
      </div>
    </div>

<!--    Liens-->
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">Liens</h1>
        <div class="card-text">

          <div class="mb-3" *ngFor="let apiUrl of api.apiUrls; let i = index">

            <div class="input-group">
              <img style="cursor: pointer;" src="assets/cancel.svg" height="48px" (click)="removeApiUrl(i)" class="me-3" />

              <input class="form-control" type="text" placeholder="URL"  [(ngModel)]="apiUrl.url">

              <div class="input-group-text">
                <label class="form-label my-auto mx-2">Défaut</label>
                <input class="form-check-input mt-0" type="checkbox">
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-4">
            <img style="cursor: pointer;" src="assets/add.svg" height="64px" (click)="addApiUrl()" />
          </div>

        </div>
      </div>
    </div>

    <!--    Sécurité-->
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">Sécurité</h1>
        <div class="card-text">

          <div class="input-group">
            <span class="input-group-text">Token</span>
            <input class="form-control" type="text" [(ngModel)]="api.apiKey">
          </div>

          <div class="d-flex justify-content-evenly mt-5">
            <div class="input-group">
              <span class="input-group-text">Username</span>
              <input class="form-control" type="text">
            </div>

            <div class="input-group ms-5">
              <span class="input-group-text">Password</span>
              <input class="form-control" type="password">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-danger" (click)="cancelApi()">Annuler</button>
      <button class="btn btn-primary" (click)="saveApi()">Sauver</button>
    </div>

  </div>
</div>
