.ygg-container {
	display: flex;

	.ygg-info {
		display: flex;
		gap: 5px;
		margin: auto;

		img {
			width: 32px;
		}
	}
}

@media screen and (max-width: 500px) {
	.ygg-info {
		flex-direction: column;

		img {
			margin: auto;
		}
	}
}
