<nav class="navbar">
	<div class="navbar-container container">
		<input type="checkbox" name="" id="">
		<div class="hamburger-lines">
			<span class="line line1"></span>
			<span class="line line2"></span>
			<span class="line line3"></span>
		</div>
		<ul class="menu-items">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="./home" routerLinkActive="active">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="./volume-list" routerLinkActive="active">Volumes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="./files-list" routerLinkActive="active">Files</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="./api" routerLinkActive="active">APIs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="./torrent/list" routerLinkActive="active">Torrent</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="./ygg/search" routerLinkActive="active">Ygg</a>
			</li>
		</ul>
	</div>
</nav>
